target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/static/images/.gitkeep

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!nbproject/project.xml
!nbproject/project.properties

### VS Code ###
.vscode/

### Others ###
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

### Uploaded Images ###
# Uncomment if you don't want to commit uploaded images
# src/main/resources/static/images/*
